<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="<%=siteConfig.cmsDescription%>">
    <meta content="<%=siteConfig.keywords%>" name="keywords" />
    <meta name="author" content="">
    <!--微博认证标签-->
    <meta property="wb:webmaster" content="0678d177a4a68a86" />
    <!--百度站长标签-->
    <meta name="baidu-site-verification" content="9nLIl2AOpz" />
	<!-- 360站长标签 -->
	<meta name="360-site-verification" content="1bef18ad01ff4ff00e723f8e04e6e2ed" />
    <link rel="icon" href="<%=staticFilePath%>/stylesheets/front/images/favicon.ico">

    <title><%=siteConfig.title%></title>

    <!-- Bootstrap core CSS -->
    <link href="<%=staticFilePath%>/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=staticFilePath%>/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/front/css/newblue.css" rel="stylesheet">
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101238712" data-redirecturi="http://www.html-js.cn/users/confirmMoreInfo" charset="utf-8"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?00bedeafedf2236ccbe9706d3a9e09b3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body  ng-app="webApp">

<!-- login Modal -->
<div class="modal fade loginModal" id="uLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  ng-controller="userlogin">
    <div class="modal-dialog" role="document" style="width: 440px;">
        <div class="modal-content">
            <div class="userlogin">
                <div class="ulpanel">
                    <form name="loginForm" ng-submit="processLogForm(loginForm.$valid)" novalidate>
                        <p class="login-title">
                            <span id="ul-s2">会员登录</span>
                            <span id="ul-s3">还没有账号 <a href="/users/regByqq">立即注册</a></span>
                        </p>
                        <p class="email-login">邮箱登录<span class="submitwarning">邮箱格式不正确</span></p>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" ng-model="logFormData.email" placeholder="请填写邮箱"  required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" ng-model="logFormData.password" ng-minlength="6" ng-maxlength="12" placeholder="请输入密码" ng-pattern="/(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{6,}/" title="6-12个有效字符" required>
                        </div>
                        <div id="ul-s5">
                            <button type="submit" class="btn btn-blue btn-login" ng-disabled="loginForm.$invalid">登录</button>
                            <a href="###" id="ul-s6" class="hide">忘记密码 ? </a>
                        </div>
                    </form>
                </div>
                <div id="ulline"></div>
                <div class="clear"></div>
                <div class="qtpanel"><p>用第三方帐号直接登录</p>
                    <div>
                        <a id="qql" href="http://openapi.qzone.qq.com/oauth/show?which=ConfirmPage&display=pc&client_id=101238712&response_type=token&scope=all&redirect_uri=http://www.html-js.cn/users/confirmMoreInfo">
                            <span class="yy-icon yy-qql"></span>QQ账号登录
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="btn-close" id="closeLoginModal">
                    <a class="pwclose" href="###">
                        <div class="pwclose_h"></div>
                        <div class="pwclose_s"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fixed navbar -->
<%if(!siteConfig.isDetail){%>
<div ng-controller="pagination">
    <%}%>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-
                        controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/stylesheets/front/images/logo.png" alt="前端开发俱乐部"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="mainNav">
                    <li class="active"><a href="/">发现</a></li>
                    <%for(var i=0;i<cateTypes.length;i++){
                            if(cateTypes[i].parentID === '0' && cateTypes[i].contentTemp != 'blog'){%>
                    <li id="nav_<%=cateTypes[i]._id%>"><a href="/<%=cateTypes[i].defaultUrl%>___<%=cateTypes[i]._id%>"><%=cateTypes[i].name%></a></li>
                    <%}}%>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <div id="hrnav">
                        <div id="soform" class="">
                            <form method="get" name="searchForm" ng-submit="processSearchForm()">
                                <span class="fa fa-search"></span>
                                <input type="text" autocomplete="off" placeholder="关键字查找" value="{{searchKey}}" name="search" id="searchByKey">
                            </form>
                        </div>
                        <% if(!logined){ %>
                        <div id="mulogin">
                            <button type="button" class="btn btn-gray" data-toggle="modal" data-target="#uLoginModal">登录</button>
                            <!--<button type="button" class="btn btn-blue">注册</button>-->
                            <a href="/users/regByqq" role="button" class="btn btn-blue">注册</a>
                        </div>
                        <% }else{ %>
                        <div class="ulogo">
                        <span class="logoImg" id="showMyOpt">
                            <a href="##"><img src="<%=userInfo.logo%><%=thumbnailUrl('30x30')%>" width="30" height="30" alt="<%=userInfo.userName%>"/></a>
                        </span>
                            <div class="rncontent rnct hide" id="uoptlist">
                                <ul>
                                    <li><a href="###">我的主页</a></li>
                                    <li><a href="/users/setUserInfo">账号设置</a></li>
                                    <li><a href="###" id="userLoginOut">退出</a></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                    </div>

                </ul>
            </div><!--/.nav-collapse -->

        </div>
        <%if(!siteConfig.isDetail){%>
        <div id="nav-bread" class="nav-bread">
            <div class="container">
                <div data-name="fid" id="sofid" class="sotj soitem soone">
                    <div class="soitemlabel">
                        <span class="soitemlabeltxt">所有文档</span>
                        <span class="yy-icon yy-soi"></span>
                    </div>
                    <div class="soitemcontent">
                        <ul>
                            <li><a class="active" data-value="0" href="/">所有文档</a></li>
                            <%for(var i=0;i<cateTypes.length;i++){
                                    if(cateTypes[i].parentID === '0' && cateTypes[i].contentTemp == 'blog'){%>
                            <li>
                                <a data-value="<%=cateTypes[i]._id%>" href="/<%=cateTypes[i].defaultUrl%>___<%=cateTypes[i]._id%>"><%=cateTypes[i].name%></a>
                                <div class="soitemcontent">
                                    <ul>
                                        <%cateTypes.forEach(function(item){
                                                if(item.parentID === cateTypes[i]._id){%>
                                        <li><a data-value="<%=item._id%>" href="/<%=item.defaultUrl%>___<%=item._id%>"><%=item.name%></a></li>
                                        <%}})%>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <%}}%>
                        </ul>
                    </div>
                </div>
                <div data-name="sort" class="sotj soitem soone">
                    <div class="soitemlabel">
                        <span class="fa fa-flag"></span>
                        <span class="soitemlabeltxt">最新推荐</span>
                        <span class="yy-icon yy-soi"></span>
                    </div>
                    <div class="soitemcontent">
                        <ul>
                            <li>
                                <a class="active" data-value="date" href="#" type="sort" ng-click="sort('date')">
                                    <span class="fa fa-flag"></span>最新推荐</a>
                            </li>
                            <li>
                                <a data-value="likeNum" href="#" type="sort"  ng-click="sort('likeNum')">
                                    <span class="fa fa-heart"></span>最多喜欢</a>
                            </li>
                            <li>
                                <a data-value="clickNum" href="#" type="sort"  ng-click="sort('clickNum')">
                                    <span class="fa fa-eye"></span>最多浏览</a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>

                <div data-name="sort" class="sotj soitem soone">
                    <div class="soitemlabel">
                        <span class="fa fa-calendar" aria-hidden="true"></span>
                        <span class="soitemlabeltxt">不限</span>
                        <span class="yy-icon yy-soi"></span>
                    </div>
                    <div class="soitemcontent">
                        <ul>
                            <li>
                                <a data-value="7" href="#"  type="time"  ng-click="time('7')">一周内</a>
                            </li>
                            <li>
                                <a data-value="30" href="#" type="time"  ng-click="time('30')">一月内</a>
                            </li>
                            <li>
                                <a data-value="365" href="#" type="time"  ng-click="time('365')">一年内</a>
                            </li>
                            <li>
                                <a class="active" data-value="0" href="#" type="time"  ng-click="time('0')">不限</a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </nav>